<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .header {
  background: url(http://via.placeholder.com/200x50) no-repeat;
  font-size: 14px;
  width: 200px;
  height: 50px;
  
}
.header h1 {
  position: relative;
  top: 20px;
  left:2px;
}
</style>
<body>
  <div class="header">
    <h1>
      Hello, world
    </h1>
  </div>
  <!-- <img src="./images/HeaderMain.png" alt=""> -->
</body>
</html>